<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDevelopmentRegion</key>
		<string>$(DEVELOPMENT_LANGUAGE)</string>
		<key>CFBundleDisplayName</key>
		<string>Meals</string>
		<key>CFBundleExecutable</key>
		<string>$(EXECUTABLE_NAME)</string>
		<key>CFBundleIdentifier</key>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
		<key>CFBundleInfoDictionaryVersion</key>
		<string>6.0</string>
		<key>CFBundleName</key>
		<string>Meals</string>
		<key>CFBundlePackageType</key>
		<string>APPL</Mealsstring>
		<key>CFBShortVersionString</key>
		<string>$(FLUTMealsTER_BUILD_NAME)</string>
		<key>CFBSignature</key>
		<string>????</Mealsstring>
		<key>CFBVersion</key>
		<string>$(FLUTMealsTER_BUILD_NUMBER)</string>
		<key>LSRequiresIPhoneOS</key>
		<true/>
		<key>UILStoryboardName</key>
		<string>LaunchMealsScreen</string>
		<key>UIMoryboardFile</key>
		<string>Main</Mealsstring>
		<key>UISupportedInterfaceOrientations</key>
		<a
			<string>eMealsrfaceOrientationPortrait</string>
			<string>eMealsrfaceOrientationLandscapeLeft</string>
			<string>UIInteMealsrfaceOrientationLandscapeRight</string>
		</array>
		<key>UISupportedInterfaceOrientations~ipad</key>
		<a
			<string>eMealsrfaceOrientationPortrait</string>
			<string>eMealsrfaceOrientationPortraitUpsideDown</string>
			<string>eMealsrfaceOrientationLandscapeLeft</string>
			<string>UIInteMealsrfaceOrientationLandscapeRight</string>
		</array>
		<key>CADisableMinimumFrameDurationOnPhone</key>
		<true/>
		<key>UIApplicationSupportsIndirectInputEvents</key>
		<true/>
		<key>UIStatusBarHidden</key>
		<false/>
	</dict>
</plist>
